* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 15px;
  color: white;
}

.navbar-title {
  font-size: 2rem;
  font-weight: bold;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}
.flex-items {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.product-image {
  max-width: 100%;
  min-width: 225px;
  max-width: 225px;
  min-height: 211px;
  max-height: 211px;
  border-radius: 10px;
}

.product-details {
  text-align: center;
  margin-top: 15px;
}

.product-name {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.product-price {
  color: #27ae60;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product-units {
  font-size: 1rem;
  color: #7f8c8d;
}

.add-to-cart-btn {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #219150;
}